 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 919px;
}

.u-section-1 .u-text-1 {
  font-family: Arizonia;
  font-size: 12.5rem;
  font-weight: 700;
  line-height: 0.8;
  background-image: none;
  margin: 249px 0 0;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  font-size: 3rem;
  font-family: Arizonia;
  margin: 59px auto 0;
}

.u-section-1 .u-btn-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  background-image: none;
  font-weight: 700;
  margin: 50px auto 60px;
  padding: 16px 60px 18px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 692px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 530px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 398px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 251px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 671px;
}

.u-section-2 .u-list-1 {
  margin-top: 116px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  min-height: 467px;
  grid-gap: 10px 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px 0;
}

.u-section-2 .u-image-1 {
  height: 189px;
  width: 269px;
  margin: 46px -1px 0 10px;
}

.u-section-2 .u-text-1 {
  margin: 39px auto 0;
}

.u-section-2 .u-icon-1 {
  width: 64px;
  height: 64px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 39px 91px 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px 0;
}

.u-section-2 .u-image-2 {
  height: 189px;
  width: 269px;
  margin: 46px -1px 0 10px;
}

.u-section-2 .u-text-2 {
  margin: 39px auto 0;
}

.u-section-2 .u-icon-2 {
  width: 64px;
  height: 64px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 39px 91px 0 auto;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-2 .u-image-3 {
  height: 189px;
  width: 269px;
  margin: 46px -1px 0 10px;
}

.u-section-2 .u-text-3 {
  margin: 39px auto 0;
}

.u-section-2 .u-icon-3 {
  width: 64px;
  height: 64px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 39px 91px 0 auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px 0;
}

.u-section-2 .u-image-4 {
  height: 189px;
  width: 269px;
  margin: 46px -1px 0 10px;
}

.u-section-2 .u-text-4 {
  margin: 39px auto 0;
}

.u-section-2 .u-icon-4 {
  width: 64px;
  height: 64px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 39px 91px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 643px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 41px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 7.5px));
    min-height: 383px;
  }

  .u-section-2 .u-image-1 {
    height: NaNpx;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 13px;
  }

  .u-section-2 .u-image-2 {
    height: NaNpx;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-3 {
    height: NaNpx;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-4 {
    height: NaNpx;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 1205px;
  }

  .u-section-2 .u-text-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-3 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-4 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2875px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: -343px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 3030px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 5px;
  }

  .u-section-2 .u-image-1 {
    height: 189px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 5px;
  }

  .u-section-2 .u-image-2 {
    height: 189px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 5px;
  }

  .u-section-2 .u-image-3 {
    height: 189px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 5px;
  }

  .u-section-2 .u-image-4 {
    height: 189px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2044px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 188px;
    margin-bottom: -1174px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 1919px;
  }

  .u-section-2 .u-image-1 {
    height: NaNpx;
  }

  .u-section-2 .u-image-2 {
    height: NaNpx;
  }

  .u-section-2 .u-image-3 {
    height: NaNpx;
  }

  .u-section-2 .u-image-4 {
    height: NaNpx;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 790px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 35px;
  margin-bottom: 15px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 740px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 11px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 57px 0 11px;
}

.u-section-3 .u-btn-1 {
  margin: 58px auto 0;
  padding: 17px 30px 17px 29px;
}

.u-section-3 .u-text-2 {
  font-size: 2.25rem;
  margin: 30px 57px 0 11px;
}

.u-section-3 .u-text-3 {
  font-size: 4.5rem;
  font-family: "Castoro Titling";
  margin: -34px 18px 0 0;
}

.u-section-3 .u-text-4 {
  font-size: 2.25rem;
  margin: 10px 57px 0 11px;
}

.u-section-3 .u-btn-2 {
  --radius: 50px;
  border-style: solid;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -30px auto 0;
  padding: 19px 56px 20px 55px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 593px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-3 .u-image-1 {
  width: 502px;
  height: 502px;
  background-image: url("images/image11.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 13px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 641px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 610px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 489px;
  }

  .u-section-3 .u-image-1 {
    width: 410px;
    height: 410px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 538px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 375px;
  }

  .u-section-3 .u-image-1 {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 977px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-3 {
    font-size: 3.75rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 315px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 922px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-3 .u-text-3 {
    font-size: 3rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 198px;
  }
}.u-block-3328-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-3328-3 {
  position: absolute;
  left: 0;
}

.u-block-3328-4 {
  position: absolute;
  right: 0;
}

.u-section-4-1 .u-sheet-1 {
  min-height: 821px;
}

.u-section-4-1 .u-layout-wrap-1 {
  margin-top: 51px;
  margin-bottom: 60px;
}

.u-section-4-1 .u-layout-cell-1 {
  min-height: 536px;
}

.u-section-4-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-4-1 .u-image-1 {
  width: 507px;
  height: 507px;
  background-image: url("images/image2.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
}

.u-section-4-1 .u-layout-cell-2 {
  min-height: 698px;
}

.u-section-4-1 .u-container-layout-2 {
  padding: 0 11px;
}

.u-section-4-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 11px;
}

.u-section-4-1 .u-btn-1 {
  margin: 31px auto 0 156px;
  padding: 17px 30px 17px 29px;
}

.u-section-4-1 .u-text-2 {
  font-size: 2.25rem;
  margin: 18px 34px 0;
}

.u-section-4-1 .u-text-3 {
  font-size: 4.5rem;
  font-family: "Castoro Titling";
  margin: -42px 11px 0 7px;
}

.u-section-4-1 .u-text-4 {
  font-size: 2.25rem;
  margin: -6px 37px 0 31px;
}

.u-section-4-1 .u-btn-2 {
  --radius: 50px;
  border-style: solid;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 0 auto 0 183px;
  padding: 19px 56px 20px 55px;
}

@media (max-width: 1199px) {
  .u-section-4-1 .u-sheet-1 {
    min-height: 606px;
  }

  .u-section-4-1 .u-layout-cell-1 {
    min-height: 442px;
  }

  .u-section-4-1 .u-image-1 {
    width: 410px;
    height: 410px;
  }

  .u-section-4-1 .u-layout-cell-2 {
    min-height: 576px;
  }

  .u-section-4-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4-1 .u-btn-1 {
    margin-left: 56px;
  }

  .u-section-4-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4-1 .u-btn-2 {
    margin-left: 83px;
  }
}

@media (max-width: 991px) {
  .u-section-4-1 .u-sheet-1 {
    min-height: 503px;
  }

  .u-section-4-1 .u-layout-cell-1 {
    min-height: 339px;
  }

  .u-section-4-1 .u-image-1 {
    width: 300px;
    height: 300px;
  }

  .u-section-4-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-4-1 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4-1 .u-sheet-1 {
    min-height: 773px;
  }

  .u-section-4-1 .u-layout-cell-1 {
    min-height: 509px;
  }

  .u-section-4-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4-1 .u-text-3 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-4-1 .u-sheet-1 {
    min-height: 584px;
  }

  .u-section-4-1 .u-layout-cell-1 {
    min-height: 320px;
  }

  .u-section-4-1 .u-text-3 {
    font-size: 3rem;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 656px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 51px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 699px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 1px;
}

.u-section-5 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 67px 0 21px;
}

.u-section-5 .u-btn-1 {
  margin: 28px auto 0;
  padding: 17px 30px 17px 29px;
}

.u-section-5 .u-text-2 {
  font-size: 2.25rem;
  margin: 11px 44px 0;
}

.u-section-5 .u-text-3 {
  font-size: 4.5rem;
  font-family: "Castoro Titling";
  margin: -50px 38px 0 0;
}

.u-section-5 .u-text-4 {
  font-size: 2.25rem;
  margin: 11px 37px 0 51px;
}

.u-section-5 .u-btn-2 {
  --radius: 50px;
  border-style: solid;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 0 175px 0 auto;
  padding: 19px 56px 20px 55px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 536px;
}

.u-section-5 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-5 .u-image-1 {
  width: 507px;
  height: 507px;
  background-image: url("images/image3.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 562px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 576px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-btn-2 {
    margin-right: 75px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 442px;
  }

  .u-section-5 .u-image-1 {
    width: 410px;
    height: 410px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 459px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 339px;
  }

  .u-section-5 .u-image-1 {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 977px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: -74px;
  }

  .u-section-5 .u-text-3 {
    font-size: 3.75rem;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 315px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 922px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-5 .u-text-3 {
    font-size: 3rem;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 198px;
  }
}.u-block-6c6f-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-6c6f-3 {
  position: absolute;
  left: 0;
}

.u-block-6c6f-4 {
  position: absolute;
  right: 0;
}

.u-section-6-1 .u-sheet-1 {
  min-height: 700px;
}

.u-section-6-1 .u-layout-wrap-1 {
  margin-top: 63px;
  margin-bottom: 60px;
}

.u-section-6-1 .u-layout-cell-1 {
  min-height: 536px;
}

.u-section-6-1 .u-container-layout-1 {
  padding: 0 25px;
}

.u-section-6-1 .u-image-1 {
  width: 507px;
  height: 507px;
  background-image: url("images/image4.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 21px auto 0 0;
}

.u-section-6-1 .u-layout-cell-2 {
  min-height: 699px;
}

.u-section-6-1 .u-container-layout-2 {
  padding: 0 11px;
}

.u-section-6-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 57px 0 11px;
}

.u-section-6-1 .u-btn-1 {
  margin: 28px auto 0 156px;
  padding: 17px 30px 17px 29px;
}

.u-section-6-1 .u-text-2 {
  font-size: 2.25rem;
  margin: 8px 34px 0;
}

.u-section-6-1 .u-text-3 {
  font-size: 4.5rem;
  font-family: "Castoro Titling";
  margin: -49px 7px 0 11px;
}

.u-section-6-1 .u-text-4 {
  font-size: 2.25rem;
  margin: 8px 32px 0 36px;
}

.u-section-6-1 .u-btn-2 {
  --radius: 50px;
  border-style: solid;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -23px 185px 0 auto;
  padding: 19px 56px 20px 55px;
}

@media (max-width: 1199px) {
  .u-section-6-1 .u-sheet-1 {
    min-height: 606px;
  }

  .u-section-6-1 .u-layout-cell-1 {
    min-height: 442px;
  }

  .u-section-6-1 .u-image-1 {
    width: 420px;
    height: 420px;
  }

  .u-section-6-1 .u-layout-cell-2 {
    min-height: 576px;
  }

  .u-section-6-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6-1 .u-btn-1 {
    margin-left: 56px;
  }

  .u-section-6-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6-1 .u-btn-2 {
    margin-right: 85px;
  }
}

@media (max-width: 991px) {
  .u-section-6-1 .u-sheet-1 {
    min-height: 503px;
  }

  .u-section-6-1 .u-layout-cell-1 {
    min-height: 339px;
  }

  .u-section-6-1 .u-image-1 {
    width: 310px;
    height: 310px;
  }

  .u-section-6-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-6-1 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6-1 .u-sheet-1 {
    min-height: 773px;
  }

  .u-section-6-1 .u-layout-cell-1 {
    min-height: 509px;
  }

  .u-section-6-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6-1 .u-text-3 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-6-1 .u-sheet-1 {
    min-height: 584px;
  }

  .u-section-6-1 .u-layout-cell-1 {
    min-height: 320px;
  }

  .u-section-6-1 .u-text-1 {
    width: auto;
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-6-1 .u-text-3 {
    font-size: 3rem;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 400px;
}